@font-face {
    font-family: roboto;
    src: url(../Fonts/Roboto-Regular.ttf)
}

body {
    background-color:#ffffff;
}

header {
    text-align: center;
    padding: 10px;
    background-color:#c5dbb8;
}

button {
    font-family: roboto;
}

h1 {
    font-family: roboto;
    font-size: 40px;
    color:#2c4118
}

div {
    padding: 5px;
}