@font-face {
  font-family: patchwork;
  src: url(Fonts/Patchwork\ Stitchlings.ttf); 
}

@font-face {
    font-family: roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}

body {
    font-family: roboto;
    margin: 0;
    text-align: center;
    background-color: #f0f5e6;
}

header {
    /* background-color: #f0f5e6; */
    font-family: patchwork;
    font-size: 25px;
    color:#974b77;
}

/* Navbar container */
.navbar {
    background-color: #748c67;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all 0.5s;
}

/* Navbar links */
.navbar a {
    font-family: roboto;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    color: #c5dbb8;
    text-decoration: none;
    font-weight: bold;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .button {
  font-weight: bold;
  border: none;
  outline: none;
  padding: 14px 16px;
  color: #c5dbb8;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f0f5e6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #974b77;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #c5dbb8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover, .dropdown:hover .button {
    background-color:#c5dbb8;
    color: white;
    cursor: url(https://cur.cursors-4u.net/others/oth-4/oth306.cur), auto !important;
}

img {
    width: 100%;
    padding-top: 3px;
}

footer {
    font-family: roboto;
    text-align: center;
    padding: 1px;
    background-color: #c5dbb8;
    width: 100%;
    font-size: 13px;
    color:#293d1f; 
}

footer strong {
    color:#974b77;
}

* {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth710.cur), auto !important;}

@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 14px;
        padding: 10px 20px;
    }
}