@font-face {
  font-family: patchwork;
  src: url(Fonts/Patchwork\ Stitchlings.ttf); 
}

@font-face {
    font-family: roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}

body {
    font-family: roboto;
    margin: 0;
    text-align: center;
    background-color: #f0f5e6;
}

header {
    background-color: #f0f5e6;
    font-family: patchwork;
    font-size: 25px;
    color:#974b77;
}

nav {
    background-color: #748c67;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all 0.5s;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #c5dbb8;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color:#c5dbb8;
    color: white;
    cursor: url(https://cur.cursors-4u.net/others/oth-4/oth306.cur), auto !important;
}

img {
    width: 100%;
    padding-top: 3px;
}

footer {
    font-family: roboto;
    text-align: center;
    padding: 1px;
    background-color: #c5dbb8;
    width: 100%;
    font-size: 13px;
    color:#293d1f; 
}

footer strong {
    color:#974b77;
}

* {cursor: url(https://cur.cursors-4u.net/others/oth-8/oth710.cur), auto !important;}