@font-face {
  font-family: patchwork;
  src: url(Fonts/Patchwork\ Stitchlings.ttf); 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f0f5e6;
}

header {
    background-color: #f0f5e6;
    font-family: patchwork;
    font-size: 25px;
    color:#233818;
}

nav {
    background-color: #748c67;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    transition: all 0.5s;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #c5dbb8;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color:#c5dbb8;
    color: white;
}

img {
    width: 100%;
    padding-top: 3px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1px;
    background-color: #c5dbb8;
    width: 100%;
    font-size: 13px;
    color:#293d1f; 
}