@font-face {
    font-family: pirate;
    src: url("../Fonts/PirataOne-Regular.ttf")
}

@font-face {
    font-family: popular;
    src: url("../Fonts/Very Popular.ttf")
}

@font-face {
    font-family: roboto;
    src: url(../Fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-b;
    src: url(../Fonts/Roboto-Bold.ttf)
}

body {
    background-color: #f0f5e6;
    font-family: roboto;
}

button {
    font-family: roboto;
}

h1 {
    color: #2c4118;
    font-family: roboto-b;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: pirate;
    font-size: 30px;
    color:#242424
}

img {
    width: 300px;
}