@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Poppins-Regular.ttf); 
}

@font-face {
  font-family: 'playfair';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf); 
}

.body {
  margin-top: 150px;
  background-color: white;
}

/* Navigation section */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 30px;
  background-color: white;
}

.logo {
    width: 100px;
}

.nav-links {
    color: black;
}

/* Hero section */
.hero {
  background-image: url('images/Creek.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
    font-family: 'playfair';
    font-size: 5rem;
}

/* About section */
#section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  align-items: self-start;
}

#section-1 .media {
  max-width: 40vw;
  margin-top: 80px;
  margin-left: 80px;
}

#section-1 .video-label:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

#section-1 a,
#section-1 a:visited {
  text-decoration: none;
  color: white;
}

#section-1 h2 {
  color: var(--baby-blue);
  margin-bottom: 10px;
  margin-left: 70px;
  font-size: 1rem;
}

.content-styles {
  padding: 80px 80px;
}

.cover-image {
    height: 400px;
    width: 600px;
}

#section-1 h3 {
    font-size: 1rem;
    margin-left: 70px;
}

#section-1 .large {
    font-size: 1rem;
    margin-left: 70px;
}

.video-label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  color: white;
  top: 150px;
  right: 200px;
  z-index: 5;
}

#section-1 .btn.primary {
    display: inline-block;
    align-items: end;
    color: black;
}

.video-label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  color: white;
  top: 150px;
  right: 200px;
  z-index: 5;
}

 /* Accordion buttons */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid;
  border-color: white;
  outline: none;
  transition: 0.4s;
}

/* Accordion hover */
.active, .accordion:hover {
  background-color: #a8cbfb;
}

/* Accordion panel; hidden by default */
.accordionPanel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 

/* Dashed border */
hr.dashed {
  border: 3px solid #1b2239;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 50px;
}

/* Explore sites section */
#section-2 {
  background-image: url(../images/section-2-bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 100px;
}

#section-2 .heading-1 {
  text-align: center;
  padding-top: 20px;
}

#section-2 .large {
  text-align: center;
}

#section-2 .grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Site map section */
#section-3 .mapgrid {
  display: grid;
  grid-template-columns: auto 400px;
}

#details {
  border-left: 1px solid #ccc;
  padding: 20px;
  width: 100%;
}

#details .emoji {
  font-size: 100px;
}

.tag {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: #f0f0f0;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: calc(100vh - 70px);
}

.map-marker { 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #a8cbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.customIcon {
  width: 30px;
  height: 30px;
}

.leaflet-div-icon {
  border: 0px solid #666;
  background: transparent;
}

/* Learn more section */
#section-4 {
  background-image: url(images/salamander.png);
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 5vw;
  padding-bottom: 5vw;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.heading-1.mega {
  color: black;
  font-size: 4rem;
  text-align: center;
}

#section-4 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-end;
}

#section-4 .container .btn-container.card {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: #1B2239;
  border-width: 4px;
}

.cards {
  display: grid;
  gap: 50px;
  padding-bottom: 50px;
}

#section-4 .container .image {
  margin-top: 0px;
}

/* Thank you section */
#section-5 .container {
  background-color: #1B2239;
  color: white;
  padding: 40px;
  margin-top: 0px;
}

/* Media queries */

/* Navigation section */
@media screen and (max-width: 768px) {
  .logo {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0px;
    height: 0px;
  }
}

@media (max-width: 768px) {
  .navigation a {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .navigation.active .nav-links {
    background-color:#1B2239;
  }
}

/* Hero section */
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}


/* About section */
@media screen and (max-width: 1024px) {
    #section-1 {
        grid-template-columns: 1fr;
    }
    
    #section-1 .media {
      max-width: 100%;
      margin-top: 0px;
      margin-left: 0px;
    }

    .content-styles {
      padding: 40px 30px;
    }
}

/* Explore sites section */
@media screen and (max-width: 1024px) {
    #section-2 {
        padding: 60px 0;
    }
    #section-2 .grid {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
    #section-2 .container {
      grid-template-columns: 1fr;
    }
    #media {
      height: 24px;
    }
}