@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

header {
    background-color: #73864e;
    padding: 10px;
    height: 60px;
    color: white;
}

body {
    font-family: 'Montserrat';
    background-color: #f0f5e6;
    color: rgb(32, 52, 32);
}