#section-5 h2 {
    color: white;
}

#section-5 {
    background-image: url("..images/Frenchbroad.JPG");
    padding-top: 100px;
}

#section-5 .cards {
    width: 60%;
    display: flex;
}

#section-5 .btn.primary {
    margin-left: 500px;
    margin-bottom: 20px;
}