/* Tried a lot of things but could not figure out how to cut down the right side of the boxes */

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1Fr 1Fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 100px;
}

section {
    display: grid;
    grid-template-columns: 1Fr 1Fr;
    border: solid rgb(196, 196, 196) 2px;
    padding: 20px;
    margin: 10px;
}

p, span {
    color: rgb(73, 73, 73);
}